.offer .secContainter .mainContent {
  min-height: 55vh;
  gap: 1rem;
}
.offer .secContainter .secIntro .secTitle {
  margin-top: 5%;
  color: var(--whiteColor);
}

.offer .secContainter .mainContent .singleOffer {
  background: var(--whiteColor);
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}
.offer .secContainter .mainContent .singleOffer .icon {
  font-size: 20px;
  color: var(--textColor);
}
.offer .secContainter .mainContent .singleOffer small {
  font-weight: 500;
  color: var(--textColor);
}
.offer .secContainter .mainContent .singleOffer .destImage {
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.offer .secContainter .mainContent .singleOffer .destImage img {
  height: 100%;
  width: 100%;
}
.offer .secContainter .mainContent .singleOffer .destImage .discount {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  border-radius: 3rem;
  font-size: 10px;
  font-weight: 500;
}

.project-list {
  height: 100%;
  background: url("../images/auth_back.jpeg");
}

.project-list .btn {
  margin: 1%;
  width: 100%;
}