version: "3.8"

services:
  backend:
    build:
      context: ./server   # Check this path
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      DB_URL: mongodb+srv://zarina:JvMCJBGXFHDfBLfZ@test.vkiuorm.mongodb.net/

  frontend:
    build:
      context: ./client   # Check this path
      dockerfile: Dockerfile
    ports:
      - 3000:3000

  database:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data/db

volumes:
  mongodb-data:
