.profileContainer {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 7%;
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: var(--whiteColor);
    padding: 1.5rem;
    box-shadow: var(--boxShadow);
}

.card .image {
    display: flex;
    justify-content: center;
}

.card .image img {
    width: 200px;
    border: 5px solid var(--blueColor);
	border-radius: 50%;
	padding: 2px;
}

.card .button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .button button {
    width: 100%;
    margin-left: 0.5rem;
}

.card .skills {
	text-align: left;
	padding: 15px;
	margin-top: 10px;
}

.card .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.card .skills ul li {
	border: 1px solid var(--blueColor);
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}


.card .user-data {
    text-align: center;
}