@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: .3s ease;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var( --blackColor );
}

.greeting {
  margin-top: 10%;
}

:root{
  --PrimaryColor: #640d5e7f;
  --NavbarColor: #0000007d;
  --HoverColor: #081b3077; 
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow:  0 2px 8px 2px var( --NavbarColor );

  --whiteColor: #FFFFFF;
  --blackColor: #000000;
  --blueColor: #2C74B3;
  --lightBlueColor: #F2F6FA;
  --darkBlueColor: #11263A;
  --photoMask: linear-gradient( #00000070, #00000070);
}


a{
  text-decoration: none;
  color: var( --blueColor );
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: .4rem 1.5rem;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  outline: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: large;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover{
  background: var(--blueColor);
  box-shadow: var(--boxShadow);
}

.btn:hover a{
  color: var(--darkBlueColor);
}

.secIntro{
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitle{
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: .5rem;
}

.secIntro p{
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}


img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

::selection{
  background: var(--blueColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar{
  width: 10px;
  background: var(--blackColor);
}

::-webkit-scrollbar-thumb{
  background: var(--blueColor);
  border-radius: 10px;
}

@media screen and (min-width: 556px) {
  .mainContent, .singlePost{
  grid-template-columns: repeat(2,1fr);
} 
}

@media screen and (min-width: 884px) {
  .mainContent{
    grid-template-columns: repeat(3,1fr);
  } 
}


@media screen and (min-width: 1024px) {
  .container{
    width: 75% !important;
    margin: auto !important;
  }

  .section{
    padding: 5rem 0 3rem;
  }

  .secIntro{
    margin: 0 auto 3rem; 
  }

  .secIntro .secTitle{
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  }

  .secIntro p{
    font-size: 15px;
  }
}

@media screen and (min-width: 2560px){
  body{
    zoom: 1.7;
  }
}

.form-box {
  /* margin-top: 25%; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--primaryColor);
  box-sizing: border-box;
  box-shadow: 0 15px 25px var( --primaryColor );
  border-radius: 10px;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var( --whiteColor );
  text-align: center;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var( --whiteColor );
  outline: none;
  background: transparent;
}

.form-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var( --whiteColor );
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}

.form-box .user-box textarea:focus ~ label,
.form-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}

.form-box .user-box select:focus ~ label,
.form-box .user-box select:valid ~ label {
  top: -20px;
  left: 0;
  color: var( --btnHoverColor );
  font-size: 12px;
}