name: Server CI with Docker

on:
  push:
    paths:
      - 'server/**'
  pull_request:
    paths:
      - 'server/**'

jobs:
  server-build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js 21.6.1
      uses: actions/setup-node@v3
      with:
        node-version: 21.6.1
        cache: 'npm'
        cache-dependency-path: './server/package-lock.json'

    - name: Build Docker image for server
      run: |
        docker build -t server-image ./server \
          --build-arg NODE_VERSION=21.6.1

    - name: Push Docker image to Docker Hub
      run: |
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker push flamemeister/task-manager-server

    - name: Run tests for server in Docker container
      run: |
        docker run flamemeister/task-manager-server npm test
