name: Server CI with Docker

on:
  push:
    paths:
      - 'server/**'
  pull_request:
    paths:
      - 'server/**'

jobs:
  server-build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 21.6.1
        uses: actions/setup-node@v3
        with:
          node-version: 21.6.1
          cache: 'npm'
          cache-dependency-path: './server/package-lock.json'

      - name: Build Docker image for server
        run: |
          docker build -t flamemeister/task-manager-server ./server \
            --build-arg NODE_VERSION=21.6.1

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker image from Docker Hub
        run: docker pull flamemeister/task-manager-server

      - name: Push Docker image to Docker Hub
        run: |
          docker push flamemeister/task-manager-server

      # самса когда тесты будут готовы нужно будет убрать здесь комментарии 
      # - name: Run tests for server in Docker container
      #   run: |
      #     docker run flamemeister/task-manager-server npm test 
